@model IEnumerable<Saladesport.Models.Snacks>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SnacksPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Durata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filiales)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SnacksPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Durata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filiales.Locatia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SnacksId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SnacksId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SnacksId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
