@model Saladesport.Models.Visitator

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Visitator</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbonamentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbonamentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GettingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GettingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abonament)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abonament.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VisitatorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
